body {
    font-kerning: normal;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #c2bdc1;
    font-family: Titillium, Arial, Helvetica, sans-serif;
}

table {
    padding-top: 2rem;
    width: fit-content;
    text-align: left;
    border: 0;
}

td {
    color: black;
    padding-top: 1rem;
    vertical-align: text-bottom;
    padding-bottom: 10px;
}

@font-face {
    font-family: Titillium;
    src: url(Titillium-Regular.otf);
}

header {
    background-color: #e0dfdf;
    padding-bottom: 1%;
    width: 100%;
    position: static;

}

h1 {
    text-align: left;
    margin: 0;
    margin-left: 30%;
    font-size: 6rem;
    font-weight: lighter;
    text-transform: uppercase;
}

h2 {
    text-align: left;
    margin-left: 30%;
    margin-top: 0;
    font-weight: lighter;
}

img {
    float: left;
    display: inline;
    max-width: 100%;
    height: auto;
}

.kontakt {
    padding-top: 2rem;
    margin: auto;
    width: auto;
    display: inline;
    text-align: left;
}

.container {
    display: flex;
    padding: 0;
    width: 30%;
    height: 80%;
}

.container img {
    max-height: 100%;
}

html {
    height: 100%;
    padding: 0;
}

.box {
    float: left;
}

.box,
.kontakt {
    display: block;
}

.space {
    padding-left: 2rem;
}

#impressum {
    font-size: x-small;
    margin-top: 3rem;
    bottom: 0;
}

footer {
    position: relative;
    bottom: 0;

}

h3 {
    margin: 0;
}